extends ./layouts/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote Nullam a ante semper, sagittis nisi sit amet, mattis dolor. Suspendisse vehicula nisi purus, sit amet commodo neque rutrum a. Phasellus congue, nisl in fermentum vestibulum, erat dui mattis odio, vitae volutpat lectus lectus in turpis. Etiam vehicula erat rutrum sem blandit viver

                p Phasellus ut dui urna. Etiam elementum elit vel purus finibus ultrices. Fusce bibendum condimentum congue. Aenean non massa nunc. Praesent pretium, lectus in egestas fringilla, lorem elit vestibulum metus,sed scelerisque nisl diam ac eros. Praesent at scelerisque nulla. Duis placerat vehicula arcu.Donec ut dolor quis sapien malesuada vulputate nec et dui. Nulla a condimentum ligula, in eleifend arcu.Maecenas tempus malesuada neque a volutpat. Sed faucibus nunc sed orci scelerisque, vitae vulputat

                p Suspendisse luctus faucibus vitae. 
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p psum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable E
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p psum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable E
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p sum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable E

